In [1]:
import seaborn as sns
data = sns.load_dataset('tips')

X = data.drop('total_bill', axis = 1)
y = data['tip']

X.head(10)

    tip     sex smoker  day    time  size
0  1.01  Female     No  Sun  Dinner     2
1  1.66    Male     No  Sun  Dinner     3
2  3.50    Male     No  Sun  Dinner     3
3  3.31    Male     No  Sun  Dinner     2
4  3.61  Female     No  Sun  Dinner     4
5  4.71    Male     No  Sun  Dinner     4
6  2.00    Male     No  Sun  Dinner     2
7  3.12    Male     No  Sun  Dinner     4
8  1.96    Male     No  Sun  Dinner     2
9  3.23    Male     No  Sun  Dinner     2

In [2]:
# Дополните код для работы программы на месте троеточия "..."

import pandas as pd
from sklearn.model_selection import train_test_split
# Импортируйте энкодеры для предобработки категориальных переменных
...
# Импортируйте регрессор на дереве принятия решений
...
# Импортируйте MAE
...

# Предобработайте категориальные переменные в исходных данных (может быть более одной строки)
...

# Разделите данные на тренировочную и тестовые выборки
... 

# Создайте и обучите регрессор на тренировочных данных
...
...

# Сделайте предсказание на тренировочных данных
...

# Вывести MAE до 3-го знака после запятой
...

Ellipsis